* {
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(53, 16, 16, 0.7)),
    url(Image/WS1.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: blue;
  position: absolute;
}

.Wh {
  width: 20px;
  background-color: brown;
  height: 50%;
}

.hero {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
p {
  font-size: 30px;
  text-transform: capitalize;
}
h1 {
  font-size: 60px;
  letter-spacing: 5px;
}
hr {
  width: 50%;
  margin: 10px auto;
  border: 1.5px solid white;
}
#launch {
  font-size: 40px;
  word-spacing: 30px;
}


